@model IEnumerable<Settings.SiteSetting>
@{
    //ViewBag.Title = "Home Page";
}
<ul>
    @foreach (Settings.SiteSetting site in this.Model)
    {
    <li>
        @Html.ActionLink(site.Title, "Default", "ModuleContainer", new { site = site.SiteName, MenuTitle = new Settings.Settings().getDefaultMenu(site.SiteID).Title}, null);
    </li>
    }
</ul>